# Ignore all files
*

# Except .gitignore, .py, .ipynb, .png, .jpeg, .md, .bib, .zip files
!.gitignore
!*.py
!*.ipynb
!*.png
!*.jpeg
!*.md
!*.bib
!*.zip

# Except LICENSE file
!LICENSE

# Even if they are in subdirectories
!*/

# 
.idea/.gitignore